.background {
  height: 100%;
  background: black;
}

.about-heading {
  font-size: 3em;
  font-weight: 900;
  color: rgb(25, 189, 52);
}

.about-text {
  font-size: 1.2em;
  padding: 0px 1em;
  font-weight: 500;
  color: whitesmoke;
}

.container {
  text-align: center;
  padding: 2em;
}

#me {
  width: 10em;
  border-radius: 100%;
  border: none;
}

.about-button {
  color: black;
  font-size: 1.2em;
  font-weight: 600;
  background-color: rgb(25, 189, 52);
  border: none;
  text-decoration: none;
  cursor: pointer;
  border-radius: 30px;
  padding: 10px 40px;
  transition: background-color 0.3s ease-in-out;
  margin: 20px 0 40px 0;
}

button:hover {
  background-color: #555;
}
