.head {
  font-size: 5rem;
  margin-top: 8px;
  line-height: 0.9;
  color: black;
}

.subhead {
  font-size: 2rem;
  font-weight: 100;
  
}

.headingbox {
  text-align: left;
  line-height: 0.4;
  
  
}

.hero-background {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
}

.mainhead {
  font-size: 1em;
  font-weight: 500;
  color: white;
  margin-bottom: 20px;
}
