h1 {
  font-size: 2rem;
}

.portfolio-heading {
  font-size: 2em;
  color: green;
}

.portfolio-container {
  color: green;
}

.portfolio-background {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.portfolioImg {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
  border: 10px solid green;
}
