.skills-background {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 3;
  font-size: 1.2rem;
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  transition: background-color 0.3s ease-in-out;
}

h1 {
  font-size: 2rem;
}

.skills-heading {
  font-size: 3em;
  font-weight: 900;
  color: rgb(25, 189, 52);
}

ul li {
  margin: 0.3rem;
  padding: 0.5rem;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
}
